<ion-header>
  <ion-toolbar color="primary">
    <ion-title (click)="openCalendar($event)">{{ (pickerShippingDate| date:format) }} <ion-icon name="chevron-down-outline"></ion-icon>  </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"  text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="picker.open()">
        <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
      </ion-button>      
    </ion-buttons>
  </ion-toolbar>
  <ion-datetime #picker 
    displayFormat="MM/YYYY" 
    pickerFormat="MMMM YYYY" 
    [(ngModel)]="pickerShippingDate" 
    (ngModelChange)="onDatePicker()" 
    cancelText="Annuler" 
    doneText="Fait" 
    dayValues="1"
    monthNames="janvier, fevrier, mars, avril, mai, juin, juillet, aout, septembre, octobre, novembre, decembre"
    max="2024"
    style="display: none;">
  </ion-datetime>        

</ion-header>
<ion-content>

  <ion-refresher slot="fixed" [disabled]="false" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <div class="loader" [hidden]="isReady">
    <ion-icon class="rotating" name="reload-outline" size="large"></ion-icon>
  </div>
  <!--  LOGISTIC HEADER -->
  <h1 class="info" [hidden]="!isReady||(orders?.length > 0)">Rien à afficher <br/>pour {{currentHub?.name}}</h1>

  <ion-list >

    <!-- FITER BASED ON PLANNING -->
    <ion-item [hidden]="!planning.length" class="header" color="primary">
      <button 
              round color="light"  [class.selected]="currentPlanning===plan"
              outline  (click)="togglePlanning(plan)"
              *ngFor="let plan of planning  "><b>{{plan}}</b>
      </button>
      <button ion-button slot="end" round color="light" fill="outline"  
              [class.selected]="reorder"
              (click)="toggleReorder()"><b><ion-icon name="reorder-two-outline"></ion-icon></b>
      </button>
    </ion-item>
    <div *ngIf="currentPlanning" >
      <!-- WHO AND WHEN -->
      <ion-item class="planning">
        <ion-label class="ion-text-wrap">
          Tournée {{currentPlanning}} ({{getOrders().length}})
        </ion-label>
        <ion-select placeholder="Plan ?"         
                    [hidden]="!currentHub"
                    (ngModelChange)="setShippingShopper({shopper:$event})"
                    [(ngModel)]="shippingShopper[currentPlanning].shopper" 
                    interface="action-sheet">
                    <ion-select-option *ngFor="let shopper of shippingShoppers"  [value]="shopper">{{shopper}}</ion-select-option>
                  </ion-select>

        <ion-datetime 
          [hidden]="!currentHub"
          placeholder="Time"
          displayFormat="HH:mm" 
          pickerFormat="HH mm" 
          [(ngModel)]="shippingShopper[currentPlanning].time" 
          (ngModelChange)="setShippingShopper({time:$event})" 
          cancelText="Annuler" 
          doneText="Fait" 
          minuteValues="0,30">
        </ion-datetime>        
      

      </ion-item>
    </div>
    <!-- SEARCH -->
    <ion-searchbar
      mode="ios"
      placeholder="Filtrer"
      [hidden]="!orders.length"
      [(ngModel)]="searchFilter"
      [debounce]="500"
      (ionInput)="onSearchInput($event)"
      (ionClear)="onSearchCancel($event)">
    </ion-searchbar>  
  
    <!-- HUBS -->
    <ion-item class="hub" lines="none" [hidden]="!hubs.length || !orders.length">
      <ion-chip class="hub" slot="start"  *ngFor="let hub of hubs" (click)="setCurrentHub(hub)">
        <ion-icon color="primary" name="checkmark-circle-outline" [hidden]="!hub.selected"></ion-icon>
        <ion-label color="primary">{{hub.name}} ({{hub.orders}})</ion-label>
      </ion-chip>
    </ion-item>

    <!-- REORDERING -->
    <ion-reorder-group [disabled]="!reorder" (ionItemReorder)="reorderItems($event)">

    <!-- DISPLAY ORDERS -->
    <ion-item-sliding *ngFor="let order of getOrders().sort(sortOrdersByPosition)  ">

      <ion-item-options side="start">
        <ion-item-option class="shopper"  color="secondary">
          <ion-icon name="bicycle"></ion-icon>
        <ion-select class="block"  placeholder="Tournée"
                      [(ngModel)]="order.shipping.priority" 
                      (ngModelChange)="setShippingPriority(order,$event)"
                      interface="action-sheet">
          <ion-select-option value="0">reset</ion-select-option>
          <ion-select-option value="1">1 tournée</ion-select-option>
          <ion-select-option value="2">2 tournée</ion-select-option>
          <ion-select-option value="3">3 tournée</ion-select-option>
          <ion-select-option value="4">4 tournée</ion-select-option>
          <ion-select-option value="5">5 tournée</ion-select-option>
        </ion-select>        
      </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">
        <ion-item-option class="phone">
          <ion-label >
            <ion-button mode="ios" color="primary" (click)="doDisplayMail(order)">
              <ion-icon name="mail"></ion-icon>             
            </ion-button> 
          </ion-label>

          <ion-label >
            <ion-button mode="ios" color="danger" [hidden]="!getPhoneNumber(order)" 
            (click)="doDisplayPhone(order)">
              <ion-icon name="call"></ion-icon>             
            </ion-button> 
          </ion-label>
        </ion-item-option>
      </ion-item-options>
      <ion-item  (click)="toggleOrder(order)" >
        <ion-note slot="end">
          <b>{{order.shipping.postalCode}}</b>
          <span class="price" [hidden]="!order.shipping.bags">{{ order.shipping.bags }} sac</span>
          <span class="price" [hidden]="order.shipping.bags">{{order.getSubTotal({ withoutCharge: true })|number:'1.0-0'}} fr</span>
        </ion-note>        
        <ion-avatar slot="start">
          <!--<off-ion-icon name="radio-button-on" style="zoom:2.0;" color="primary"></off-ion-icon> -->
          <span class="rank" [class.orphan]="!order.shipping.priority" [class.selected]="isOrderSelected(order)">
            {{getOrderRank(order)}}
          </span>
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          <h3 text-capitalize>{{ order.shipping.name }} <span [hidden]="!isDeposit(order)"> // {{order.customer.displayName}}</span></h3>
          <h2>{{ order.shipping.streetAdress }},  <b>é:{{order.shipping.floor}}</b> </h2>
          <p class="note">{{ order.shipping.note }}</p>
          <div class="shopper-info" >
            {{getShopperInfo(order)}}
          </div>
        </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-item-sliding>

    </ion-reorder-group>
  </ion-list>

  <!-- MAP BUTTON -->
  <ion-fab class="fab" [hidden]="!orders.length">
    <ion-fab-button (click)="openTracker()">
      <ion-icon name="map-outline" id="pin-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>  

</ion-content>