page-customers {
  button.fab{
    display: none;
  }
  
  ion-item {
      
    ion-label{
      padding-top:7px;
      h3{
        margin-top: 10px;
      }
    }

    span.light{
      color: #999;      
      font-size: small;
      padding-right: 3px;      
    }
    div.stats {
      display: flex;
      margin-right: 0;
      margin-left: auto;
      font-size: 1.4rem;
      @media screen and (max-width:499px) {
        margin-top: 10px;
        border-top: 1px solid #ddd;
        padding-top: 10px;
        span.label{
          margin-right: 0;
          margin-left: auto;          
        }
      }

      @media screen and (min-width:500px) {
        width: 100px;

        span.info{
          position: absolute;
          right: 10px;
          top:15px;
          margin-left: -5px;
          font-size: small;
          -color: black;  
        }
        span.label{
          position: absolute;
          right: 0px;
          margin-top: -17px;   
          &.counter{
            border-right: 1px solid #eee;
          }
        }
  
      }

  
    }


   
    ion-avatar {
      position: relative;
      span.rank{
        position: absolute;
        top: 00%;
        left: 0;
        color: white;
        font-weight: 900;
        background: color($colors,primary);
        padding: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        line-height: 40px;
        text-align: center;
      }
    }

  }  

}
