<!--
  Generated template for the LivraisonPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<!--TODO filtre (jour livraison)-->

<!--<input type="text" class="form-control" datepicker-popup="MM/yyyy" ng-model="dt" is-open="opened" datepicker-options="{minMode: 'month'}" datepicker-mode="'month'"/>
<span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
</span>-->

<ion-content>

  <ion-grid no-padding>
    <ion-row align-items-start>

      <ion-col>

        <ion-toggle [(ngModel)]="openShippings" checked="true"></ion-toggle>
        <p>Ouvertes</p>

      </ion-col>

      <ion-col>
        <button ion-button icon-only clear="true">
          <ion-icon name="pin" id="pin-icon"></ion-icon>
        </button>
      </ion-col>

      <!--Calendar-->
      <ion-col>
        <button ion-button (click)="picker.open()" clear="true">
          <ion-datetime #picker displayFormat="MM/YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="myDate" 
            (ngModelChange)="findAllOrdersForShipping()" cancelText="Annuler" doneText="Fait" 
            monthNames="janvier, fevrier, mars, avril, mai, juin, juillet, aout, septembre, octobre, novembre, decembre">
          </ion-datetime>
            <ion-icon name="calendar"></ion-icon>
        </button>
        <p>{{ myDate | date:"MMMM y" }}</p>
      </ion-col>

    </ion-row>
  </ion-grid>

  <!--slides of Days-->
  <ion-slides pager paginationType="progress" centeredSlides="false" slidesPerView="3">
    <ion-slide *ngFor="let orders of shippingByDay">
      <!--<ion-toolbar>-->
      <!--<ion-buttons >-->
      <button ion-button margin-top="1rem" class="slide-butt" round outline (click)="getDayShipping(orders)" color="primary">
          {{ orders[0].created | date:'EEEE d' }}</button>
      <!--</ion-buttons>-->
      <!--</ion-toolbar>-->
    </ion-slide>
  </ion-slides>

  <!--Actual list-->
  <ion-list>
    <ion-item-sliding *ngFor="let order of results">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col item-start>
              <ion-badge color="primary">{{ order.rank }}</ion-badge>
            </ion-col>
            <ion-col>
              <h2>{{ order.customer.displayName }}</h2>
            </ion-col>
            <ion-col>

            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-icon name="pin" color="grey-icon"></ion-icon>
            </ion-col>
            <ion-col>

            </ion-col>
            <ion-col>

            </ion-col>
          </ion-row>
          <ion-row>

          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item-options side="right">
      <button ion-button (click)="favorite(item)">Favorite</button>
      <button ion-button color="danger" (click)="share(item)">Share</button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

</ion-content>