
.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 46%;
  z-index: 1;
  background: rgba(12, 12, 12, 0.24);
  color: white;
}

ion-chip.toggle {
  min-width: 100px;
}

.subscription{
  h2{
    font-weight: bold;
    margin: 5px 2px;
    text-transform: capitalize;
    background-color: yellow;
    width: fit-content;
    padding: 2px 4px;
  }
  h3{
    font-weight: bold;
    margin: 5px 2px;
    &.red{
      color: red;
    }    
  }
  .tag {
    padding: 1px 10px;
    background: var(--ion-color-kio-primary);
    border-radius: 17px;
    color: white;
    font-size: 14px;    
    text-transform: lowercase;
    float: right;
  }
  ul{
    margin: 5px 0;
    padding: 0;
    list-style: none;
    li{
      font-size: 14px;
      color: #666;
      .bold{
        font-weight: bold;
        color: black;
      }
    }
  }
}

@keyframes rotating {
  from{
      -webkit-transform: rotate(0deg);
  }
  to{
      -webkit-transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}