# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore


*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
/.sourcemaps
/.versions
/coverage

# Ionic
/.ionic
/www
/platforms
/plugins

*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

.idea/
.sass-cache/
.tmp/
.versions/
.sourcemaps/
coverage/
dist/
node_modules/
**/node_modules/
tmp/
temp/
trash/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/
backport-pages/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

# Sentry Config File
.sentryclirc
