kio2-order-customers {
  button.fab{
    display: none;
  }

   
  h1.info{
    color: gray;
    padding: 50px;
    text-align: center;     
   }

   h2 {
      color: color($colors, info);
      font-weight: bold;
   }

   ion-badge {
      font-size: 1.8rem;
   }

   ion-item-options{
    display: flex;
    align-content: center;
    align-items: center;
    background: rgba(0, 105, 99, 0.35);        
    &.shipping{
    }      
  }


  ion-item {
    &.header{
      min-height: 1.9rem;
      background: color($colors, primary);
      ion-label{
        margin: 0;
      }
      button{
        height: 1.7rem;
        border: none;
        width: 17px;
        margin-right: 0;
        &.selected{
          background:color($colors,info);
          color:color($colors,dark);
        }
        background:#fff;
        color: color($colors, primary);
      }
    }
    &.selected{
      background-color: color($colors, light);
    }
    h2{
      font-size:1.4rem!important;
    }
    p{
      font-size:1.2rem!important;
      white-space:initial;
    }
      
    span.label{
      background: rgba(0, 105, 99, 0.34);
      background: #ccc;
      color: white;
      padding: 0 2px;
      border-radius: 0px; 
      font-size: 85%;     
      &.counter{
        border-right: 1px solid #eee;
      }
    }
    span.price{
      position: absolute;
      font-size: 1.6rem;
      top: 10px;
      color: white;
      font-weight: 900;
      padding: 0;
      width: 18px;
      height: 18px;
      line-height: 15px;
      text-align: center;
      width: 55px;
      padding-top: 1px;
      border-radius: 3px;
      background: color($colors,info);
      right: 10px;
      
    } 

    span.progress{
      position: absolute;
      bottom: 10px;
      right: 10px;        
    }

   
    ion-avatar {
      position: relative;

      span.rank{
        position: absolute;
        top: 00%;
        left: 0;
        color: white;
        font-weight: 900;
        background: color($colors,primary);
        padding: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        line-height: 40px;
        text-align: center;
      }
    }

  }  
}
