
<ion-header>
  <ion-navbar color="primary">
    <ion-title >{{user?.displayName}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <h2 color="primary">Nom</h2>
      <p text-capitalize>{{ user?.name.familyName }}</p>
    </ion-item>
    <ion-item>
      <h2 color="primary">Prenom</h2>
      <p text-capitalize>{{ user?.name.givenName }}</p>
    </ion-item>
    <ion-item>
      <h2 color="primary">Email</h2>
      <p>{{ user?.email.address }}</p>
    </ion-item>
    <ion-item *ngFor="let phone of user?.phoneNumbers">
      <h2 color="primary">Telephone</h2>
      <p>{{ phone.number }}</p>
    </ion-item>
      
    <ion-item>
      <h2 color="primary">Rôle</h2>
      <ul>

        <li [hidden]="!user.hasRole('logistic')" color="secondary">Logistic</li>      
        <li [hidden]="!user.isAdmin()" color="secondary">Admin</li>
        <li [hidden]="!user.shops.length" color="secondary">Vendor</li>
        <li color="secondary">Utilisateur</li>    
      </ul>
    </ion-item>
    <ion-item>
      <button ion-button block round large outline icon-left color="danger" (click)="logout()">
        <ion-icon name="user"></ion-icon> Logout
      </button>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Serveur K.</ion-label>
      <ion-input type="text"  [(ngModel)]="server" name="server"></ion-input>
      <button ion-button item-end  outline color="info" (click)="devMode()">
        <ion-icon name="settings"></ion-icon> 
      </button>
        
      
    </ion-item>
  </ion-list>
  <ion-list *ngIf="user.isAdmin()||user.hasRole('logistic')">
    <ion-list-header color="primary">
      Logistique, vos codes postaux
    </ion-list-header>
    <ion-item (click)="toggleAll()">
        <ion-label>Tous les codes postaux</ion-label>
        <ion-toggle [checked]="isToggleAll()" (click)="toggleAll()"></ion-toggle>
    </ion-item>    
    
    <ion-item *ngFor="let postal of postalCodes" (click)="togglePC(postal)">
        <ion-label>{{postal}}</ion-label>
        <ion-toggle [checked]="isPC(postal)" (click)="toggleAll()"></ion-toggle>
    </ion-item>    

    <!-- 
    <ion-item *ngFor="let postal of user.logistic?.PostalCode">
      <h2 color="primary">Code Postaux</h2>
      <p >{{ postal }}</p>
    </ion-item> -->
            
  </ion-list>
</ion-content>