page-shopper {
   
   h1.info{
    color: gray;
    padding: 50px;
    text-align: center;     
   }

   h2 {
      color: color($colors, info);
      font-weight: bold;
   }

   ion-badge {
      font-size: 1.8rem;
   }



  ion-item {
    &.header{
      min-height: 1.9rem;
      background: color($colors, primary);
      ion-label{
        margin: 0;
      }
      button{
        height: 1.7rem;
        border: none;
        width: 17px;
        margin-right: 0;
        &.selected{
          background:color($colors,info);
          color:color($colors,dark);
        }
        background:#fff;
        color: color($colors, primary);
      }
    }
    &.selected{
      background-color: color($colors, light);
      background-color: rgba(0, 105, 99, 0.14);
    }

    
    h2{
      font-size:1.4rem!important;
    }

    p{
      font-size:1.2rem!important;
      white-space:initial;
    }
    
    div.shopper-info{
      position: absolute;
      top: 10px;
      right: 70px;
      font-size: .8em;
      color: #c5c5c5;      
    }
    span.bag, 
    span.price, 
    span.priority{
      position: absolute;
      font-size: 1.6rem;
      top: 10px;
      right: 15px;
      color: white;
      font-weight: 900;
      background: color($colors,info);
      padding: 0;
      width: 18px;
      height: 18px;
      border-radius: 7px;
      line-height: 15px;
      text-align: center;
    } 

    span.price{
      background: transparent;
      color: white;
      width: 55px;
      padding-top: 1px;
      border-radius: 3px;
      background: color($colors,info);
      right: 10px;
    }

    span.bag{
      right: 15px;
      top: 10px;
      width: 13px;
      border-radius: 1px;
      padding-top: 1px;
    }


    span.priority{
      right: 2px;
      top: 10px;
      border-radius: 0px 3px 3px 0px;
      padding-top: 1px;
      z-index: -1;      
      background: color($colors,grey-icon);
    }

    ion-avatar {
      position: relative;

      span.rank{
        position: absolute;
        top: 00%;
        left: 0;
        color: white;
        font-weight: 900;
        background: color($colors,primary);
        padding: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        line-height: 40px;
        text-align: center;
        &.orphan{
          background: #ccc;
        }
      }
    }
  }
  ion-label.shopper,
  ion-label.bags{
    color: white;
    font-weight: 700;
    font-size: 120%; 
    margin: 1px auto;
    text-align: center;
    padding:20px;
  }     

  ion-item-options{
    max-width: 50%;
    display: flex;
    align-content: center;
    align-items: center;
    background: rgba(0, 105, 99, 0.75);        
    div.select{

    }
  }
  
}
