<ion-header no-border>
  <logistic-header
    (doInitOrders)="onInitOrders($event)"
    (doSelectedOrders)="onSelectedOrders($event)">
    </logistic-header>
</ion-header>

<ion-content>

  <ion-refresher 
    [enabled]="!reorder"
    (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <h1 class="info" [hidden]="!isReady||(orders?.length > 0)">Pas de commandes {{openShippings?'livrées':'en préparation'}} pour ce mois-ci</h1>

  <ion-list >

    <!-- FITER BASED ON PLANNING -->
    <ion-item [hidden]="!planning.length" class="header">
      <button ion-button 
              round color="light"  [class.selected]="currentPlanning===plan"
              outline small (click)="togglePlanning(plan)"
              *ngFor="let plan of planning  "><b>{{plan}}</b>
      </button>
      <button ion-button item-end round color="light" outline small 
              [class.selected]="reorder"
              (click)="toggleReorder()"><b><ion-icon name="reorder"></ion-icon></b>
      </button>
    </ion-item>

    <!-- REORDERING -->
    <ion-item-group [reorder]="reorder" (ionItemReorder)="reorderItems($event)">

    <!-- DISPLAY ORDERS -->
    <ion-item-sliding *ngFor="let order of orders.sort(sortOrdersByPosition)  ">

      <ion-item (click)="toggleOrder(order)" 
                [class.selected]="isOrderSelected(order)"
                [hidden]="currentPlanning&&currentPlanning!==order.shipping.priority">
        <ion-note item-end>
          {{order.shipping.postalCode}}
          <span class="price" [hidden]="!order.shipping.bags">{{ order.shipping.bags }} sac</span>
          <span class="price" [hidden]="order.shipping.bags">{{order.getSubTotal()|number:'1.0-0'}} fr</span>
          
        </ion-note>        
        <ion-avatar item-start>
          <!--<off-ion-icon name="radio-button-on" style="zoom:2.0;" color="primary"></off-ion-icon> -->
          <span class="rank" [class.orphan]="!order.shipping.priority">{{order.rank}}</span>
        </ion-avatar>
        <h3 text-capitalize>{{ order.shipping.name }}</h3>
        <h2>{{ order.shipping.streetAdress }},  <b>é:{{order.shipping.floor}}</b> </h2>
        <p>{{ order.shipping.note }}</p>
      </ion-item>
      <ion-item-options side="left">
        <ion-label class="shopper"  color="secondary">
          <ion-icon name="bicycle"></ion-icon>
          Réserver
        </ion-label>
        <ion-select [(ngModel)]="order.shipping.priority" 
                      (ngModelChange)="setShippingPriority(order,$event)"
                      interface="action-sheet">
          <ion-option value="1">1 tournée</ion-option>
          <ion-option value="2">2 tournée</ion-option>
          <ion-option value="3">3 tournée</ion-option>
          <ion-option value="4">4 tournée</ion-option>
        </ion-select>        
      </ion-item-options>

      <ion-item-options side="right">
        <div [hidden]="!user.isAdmin()">
          
          <ion-label class="bags">Nb sacs</ion-label>
          <ion-select [(ngModel)]="order.shipping.bags"                       
                       (ngModelChange)="updateBag(order,$event)"
                       interface="action-sheet">
            <ion-option value="1">1 sac</ion-option>
            <ion-option value="2">2 sac</ion-option>
            <ion-option value="3">3 sac</ion-option>
            <ion-option value="4">4 sac</ion-option>
          </ion-select>

        </div>
        <a ion-button color="danger" href='tel:{{order.customer.phoneNumbers[0]?.number}}'>
          <ion-icon name="call"></ion-icon>
          Appeler
        </a>
      </ion-item-options>

    </ion-item-sliding>

    </ion-item-group>
  </ion-list>

</ion-content>