<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{title}} - {{product?.sku}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="products"  text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="product">
  <!--
  <form (ngSubmit)="doSave()">-->

    <ion-list >
      <ion-item>
        <ion-label color="primary">
          Produit actif à la vente
        </ion-label>
        <ion-toggle mode="md" color="positive" ngDefaultControl [(ngModel)]="product.attributes.available"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>En promotion</ion-label>
        <ion-toggle mode="md" color="positive" slot="end" ngDefaultControl [(ngModel)]="product.attributes.discount"></ion-toggle>
      </ion-item>

      <ion-item [hidden]="!user.isAdmin()">
        <ion-label>Sélection</ion-label>
        <ion-toggle mode="md" color="positive" slot="end" ngDefaultControl [(ngModel)]="product.attributes.home"></ion-toggle>
      </ion-item>
      <ion-item [hidden]="!user.isAdmin()">
        <ion-label>Boost</ion-label>
        <ion-toggle mode="md" color="positive" slot="end" ngDefaultControl [(ngModel)]="product.attributes.boost"></ion-toggle>
      </ion-item>
        
      <ion-item>
          <ion-button outline expand="block" large color="primary" [disabled]="!isReady()" (click)="doSave(product)">Enregistrer</ion-button>
      </ion-item>
      
      <ion-item class="input-toggle">
        <ion-label position="stacked" color="primary">
          Titre
        </ion-label>
        <ion-input type="text" placeholder="titre" ngDefaultControl [(ngModel)]="product.title"></ion-input>
      </ion-item>
      <ion-item color="none">
        <ion-thumbnail item-left class="image">
          <img [hidden]="!product?.photo.url" [src]="'https:'+product?.photo.url+'/-/resize/128x/'"/>
          <img [hidden]="product?.photo.url" src="/assets/img/add.png"/>
        </ion-thumbnail>
        <div class="photo">
          <img [hidden]="!product?.photo.url" [src]="product?.photo.url+'/-/resize/400x/'"/>
        </div>
      </ion-item>
      <ion-item>
        <ion-button outline color="primary" expand="block" (click)="uploadImage(product)">Ajouter ou modifier la photo</ion-button>
      </ion-item>

      <ion-item color="none">
        <ion-textarea placeholder="description" autocorrect="true" #desc rows="10"  ngDefaultControl [(ngModel)]="product.details.description"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="stacked">Ingrédients / Origines </ion-label> 
        <ion-textarea  rows="4"  placeholder="ex, olive(Grèce), pâte(Italie)... " ngDefaultControl [(ngModel)]="product.details.origin" required></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="stacked">Péremption</ion-label>
        <ion-input type="text" placeholder="ex. Se conserve 3 jours"  ngDefaultControl [(ngModel)]="product.shelflife.comment"></ion-input>    
        <ion-toggle mode="md" color="positive" slot="end" ngDefaultControl [(ngModel)]="product.shelflife.display"></ion-toggle>        
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="stacked">Quantité</ion-label>
        <ion-input type="text"  placeholder="ex. Convient pour 1-2 personnes" ngDefaultControl [(ngModel)]="product.quantity.comment"></ion-input>    
        <ion-toggle mode="md" color="positive" slot="end" ngDefaultControl [(ngModel)]="product.quantity.display"></ion-toggle>        
      </ion-item>
      
      <ion-item class="stock">
        <ion-label color="primary" position="stacked">
          En stock
        </ion-label>
        <ion-input type="text" min="0" placeholder="0-1000" ngDefaultControl [(ngModel)]="product.pricing.stock"></ion-input>
        <ion-button outline large slot="end" (click)="product.pricing.stock=0">0</ion-button>
        <ion-button outline large slot="end" (click)="product.pricing.stock=40">40 </ion-button>
        <ion-button outline large slot="end" (click)="product.pricing.stock=100">100</ion-button>
        
      </ion-item>
    </ion-list>

    <!-- PRICE -->
    <ion-list [hidden]="!detailled">
      <ion-list-header color="primary">
        Prix
      </ion-list-header>
      <ion-item class="large">
        <ion-label color="primary" position="stacked">
          Prix (TVA inc.)
        </ion-label>
        <ion-input type="number" min="0" placeholder="0.00" ngDefaultControl [(ngModel)]="product.pricing.price"></ion-input>
      </ion-item>
      <ion-item class="">
        <ion-label color="danger" position="stacked">Portion <b>(le signe ~ pour un poids variable, ex:~180gr)</b></ion-label>
        <ion-input type="text"  placeholder="100gr/~180gr/1botte/0.75L/0.75litre/1pce" ngDefaultControl [(ngModel)]="product.pricing.part"></ion-input>    
        <!-- <div class="info" *ngIf="product.pricing.part">
          Avec {{product.pricing.part}} le client recevra
          <span [hidden]="product.hasFixedPortion()"> {{portionStr(product.pricing.part)}}</span>
          <span [hidden]="!product.hasFixedPortion()">{{product.pricing.part}}</span>
        </div>                        
        <div class="info" [hidden]="product.pricing.part">
          Avec <b>~180gr</b> le client recevra {{portionStr('~180gr')}}
        </div> -->

      </ion-item>

      <ion-item class="promotion large">
        <ion-label color="danger" position="stacked">
          Prix pendant promotion (activer la promotion à droite)
        </ion-label>
        <ion-input type="number" min="0" placeholder="0.00" ngDefaultControl [(ngModel)]="product.pricing.discount"></ion-input>
        <ion-toggle mode="md" color="positive" slot="end" ngDefaultControl [(ngModel)]="product.attributes.discount"></ion-toggle>
      </ion-item>
    </ion-list>

    <!-- LABELS -->
    <ion-list [hidden]="!detailled">    
        <ion-list-header color="primary">
          Labels
        </ion-list-header>
        
        <ion-item>
          <ion-label>Certifié GRTA </ion-label>
          <ion-checkbox ngDefaultControl [(ngModel)]="product.details.grta"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Certifié Bio </ion-label>
          <ion-checkbox ngDefaultControl [(ngModel)]="product.details.bio"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label> Biodynamie </ion-label>
          <ion-checkbox ngDefaultControl [(ngModel)]="product.details.biodynamics"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label> Bioconversion </ion-label>
          <ion-checkbox ngDefaultControl [(ngModel)]="product.details.bioconvertion"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Production Locale </ion-label>
          <ion-checkbox ngDefaultControl [(ngModel)]="product.details.local"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Fabrication artisanale</ion-label>      
          <ion-checkbox ngDefaultControl [(ngModel)]="product.details.homemade"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Sans chimie de synthèse </ion-label>
            <ion-checkbox ngDefaultControl [(ngModel)]="product.details.natural"></ion-checkbox>
          </ion-item>
        <ion-item>
          <ion-label>Sans gluten </ion-label>
          <ion-checkbox ngDefaultControl [(ngModel)]="product.details.gluten"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Sans lactose </ion-label>
          <ion-checkbox ngDefaultControl [(ngModel)]="product.details.lactose"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Végétarien </ion-label>    
          <ion-checkbox ngDefaultControl [(ngModel)]="product.details.vegetarian"></ion-checkbox>
        </ion-item>
      </ion-list>
      
    <ion-list  [hidden]="!detailled">
      <ion-radio-group ngDefaultControl [(ngModel)]="product.pricing.tva">
        <ion-list-header [hidden]="!product.pricing.tva">
          <ion-label>
            Valeur actuelle {{product.pricing.tva|percent:'1.1-1'}}
          </ion-label>
        </ion-list-header>
        <ion-item *ngFor="let tva of TVAs">
          <ion-label color="primary">TVA {{tva|percent:'1.1-1'}}</ion-label>
          <ion-radio [value]="tva"></ion-radio>
        </ion-item>    
      </ion-radio-group>    
    </ion-list>

    <!-- NAV -->  
    <ion-list [hidden]="!detailled">
      <ion-list-header color="primary">
        Navigation
      </ion-list-header>
      <ion-item>
        <ion-label color="primary">
          Vendeur 
        </ion-label>
        <ion-select ngDefaultControl [(ngModel)]="product.vendor" interface="action-sheet">
          <ion-select-option *ngFor="let shop of shops"  [value]="shop._id">{{shop.name}}</ion-select-option>        
        </ion-select>
      </ion-item>
        
      <ion-item>
        <ion-label color="primary">
          Categorie (principale)
        </ion-label>
        <ion-select ngDefaultControl [(ngModel)]="product.categories" (ionChange)="categoryChange()" interface="action-sheet">
          <ion-select-option *ngFor="let cat of getCategories()"  [value]="cat._id">{{cat.name}}</ion-select-option>        
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="primary">
          Categorie (secondaire)
        </ion-label>
        <ion-select ngDefaultControl [(ngModel)]="product.belong.name" interface="action-sheet">
          <ion-select-option *ngFor="let child of getChild()" [value]="child.name" >{{child.name}}</ion-select-option>        
        </ion-select>
      </ion-item>

    </ion-list>
    <ion-list>
      <ion-item>
          <ion-button [hidden]="detailled" expand="block" outline large color="primary" (click)="detailled=true">
            Editer tous les paramètres 
          </ion-button>
            
          <ion-button [hidden]="!detailled" expand="block" outline large color="primary" (click)="doSave(product)">
            Enregistrer
          </ion-button>            
          <!-- <ion-button expand="block" large color="primary" (click)="doSave()">Enregistrer</ion-button> -->
      </ion-item>      
    </ion-list>
  <!--
  </form> -->

</ion-content>
