
.image{
  cursor: pointer;
  img{
    border-radius: 8px;
  }
}

.photo{
  padding: 10px;
  margin-right: 0;
  display: flex;
  width: 80%; 
  img{
    max-width: 90%;
    border-radius: 8px;
    margin-right: 0;
    margin-left: auto;    
  }
}

.large,
.stock{
  ion-label{
    font-weight: 600;
  }
  ion-button{
    font-size: 20px;
    height: 40px;
    width: 50px;    
  }
  ion-input{
      font-size: 22px;
  }
}


.toggle-checked .toggle-inner{
  background-color: var(--ion-color-primary);
}