button.fab{
  display: none;
}

h3,
h4 {
  font-size: 0.85rem;
  &.bold {
    font-weight: 600;
  }
}
  
h1.info{
  color: gray;
  padding: 50px;
  text-align: center;     
  }

  h2 {
    color: var(--ion-color-kio-info);
    font-weight: bold;
  }

  ion-badge {
    font-size: 0.7rem;
  }

  ion-item-options{
  display: flex;
  align-content: center;
  align-items: center;
  background: rgba(0, 105, 99, 0.35);        
  &.shipping{
  }      
}


.metabar{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(5, 105, 98, 0.8) !important;
  ion-label{
    padding-left: 10px;
    font-weight: 500;
    color: white;      
  }
  .icon {
    font-size: 19px;
    transform: translateY(3px);    
  }

  .planning{
    padding: 3px;
    button{
      &.selected{
        background: white;
        color: var(--ion-color-kio-primary);        
      }
      outline: 0;
      border: 1px solid white;
      border-radius: 5px;
      margin: 0 3px;
      margin-left: 1px;
      padding-left: 8px;
      padding-right: 8px;
      background: var(--ion-color-kio-primary);
      color: white;
      font-size: 15px;      
    }
  }
}



ion-title{
  text-transform: capitalize;
  font-weight: 700;
  font-size: 20px;  
  ion-icon {
    transform: translateY(4px);
    color: gold;    
  }
}

ion-list{
  margin-bottom: 60px;
}

ion-item {
  &.header{
    min-height: 1.9rem;
    background: var(--ion-color-kio-primary);
    ion-label{
      margin: 0;
    }
  }    
  &.selected{
    background-color: var(--ion-color-kio-light);
  }
  &.in-progress{
    span.progress{
      color: red!important;
    }
    span.rank{
      background-color:#ddd!important;
    }
  }

  ion-button.capture{
    margin-right: 50px;
  }
  
  h2{
    color: green;
    font-size:0.8rem!important;
    font-weight: 200;
  }
  p{
    font-size:0.7rem!important;
    white-space:initial;
  }
    
  span.label{
    background: rgba(0, 105, 99, 0.34);
    background: #ccc;
    color: white;
    padding: 0 2px;
    border-radius: 0px; 
    font-size: 85%;     
    &.counter{
      border-right: 1px solid #eee;
    }
  }
  span.price{
    position: absolute;
    font-size: 0.9rem;
    top: 10px;
    color: white;
    font-weight: 200;
    padding: 0;
    width: 18px;
    height: 18px;
    line-height: 15px;
    text-align: center;
    width: 45px;
    padding-top: 1px;
    border-radius: 3px;
    background: var(--ion-color-kio-primary);
    right: 10px;
    
  } 

  span.time-collected{
    color: blue;
    padding-right: 10px;
    font-weight: 600;
  }

  span.progress{
    color: green;
    position: absolute;
    bottom: 5px;
    right: 10px;        
    font-size: 0.9rem;
  }

  .ranks{
    margin-right: 3px;
  }
  
  ion-avatar {
    .audio{
      color: red;
      margin-top: 10px;
      margin-left: -17px;
      position: absolute;      
    }
    position: relative;
    div.complement,
    div.latest-errors{
      position: absolute;
      font-size: 10px;
      top: 0px;
      z-index: 1;
      left: 0px;
      background: red;
      width: 16px;
      height: 14px;
      color: white;
      text-align: center;
      line-height: 16px;
      border-radius: 2px;        
    }
    div.latest-errors{
      left: unset;
      right: -5px;
      top:-0px;
      width: 14px;
      background-color: blue;
    }

    span.rank{
      &.collect{
        background: #eee;
        color:#aaa;
        font-size: x-large;
      }
      &.collected{
        background: var(--ion-color-kio-primary);
        color:white;
      }
      position: absolute;
      top: 0%;
      left: 0;
      color: white;
      font-weight: 700;
      background: var(--ion-color-kio-primary);
      padding: 0px 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      line-height: 40px;
      text-align: center;
    }
  }

  ion-item.hub{
    --border-width	:0;
    ion-chip{
      border	: 1px solid  var(--ion-color-primary);
    }  
  }
}  

ion-item-sliding.shadow {
  opacity: .1;
}

ion-item-options{
  background: var(--ion-background-primary);      
  
  ion-item-option{
    &.phone{
    }
    a{
      color: white;
    }

  }    
}

.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 46%;
  z-index: 1;
  background: rgba(12, 12, 12, 0.24);
  color: white;
}

//
// customers
.customer-new {
  background: red;
  color: white;
  padding: 1px 6px;
  border-radius: 5px;
  font-size: 11px;
  font-weight: 700;  
}

.rank-danger {
  border: 2px double #03ff03;
}

//
// planning
.planning{
  padding: 10px;
  h1,h2{
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;    
    text-transform: capitalize;  
    .light{
      color: #bbb;
      text-transform: none;      
    }
  }

  ul{
    list-style: none;
    background: #fefefe;
    border-radius: 10px;
    padding: 5px;    
    li{
      padding: 8px 0;
      font-weight: 400;
      color: #333;
      font-size: 16px;
      border-bottom: 1px solid #eee;
    }    
    li:nth-child(odd) {
    }
    li:nth-child(even) {
    }    
  }
  .failure{
    text-decoration: line-through!important;
  }

  .error{
    text-decoration: line-through!important;
    color: red;
    font-weight: 700;
  }

  
}


@keyframes rotating {
  from{
      -webkit-transform: rotate(0deg);
  }
  to{
      -webkit-transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}