:host ::ng-deep  {

}
.toast-message{
  font-size: 2.5rem!important;
  color: gold!important; 
  background: black;
}

.toolbar-title{
}

h1.info{
  color: gray;
  padding: 50px;
  text-align: center;     
}
h2{
  color: #333;
  font-weight: 500;
}

.header{
  --background: #dbe6e5;
  margin-top: -4px;
}
  
.header-audio{
  --background: #dbe6e5;
  audio{
    scale: .9;
    margin: 5px;
    width: 70%;
    margin-left: -12px;    
  }
  .phone{
    width: 45px;
    height: 45px;
    border: 1px solid var(--ion-color-kio-primary);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff6666;
    margin-right: 0;
    ion-icon{
      color: white;
    }
  }
}
  
span.rank{
  margin-left: 0px;
  font-family: sans-serif;
  background: var(--ion-color-kio-primary);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: white; 
  font-size: 0.9rem;
  font-weight: 900; 
  text-align: center;

  &.big{
    width: 50px;
    height: 50px;
    padding-top: 15px;      
  }
}

ion-select{
  --placeholder-color:#333;
}
  
ion-content{
  --background: var(--ion-color-kio-light)!important;    
}

ion-list{
  margin-top: -4px;
  --background: var(--ion-color-kio-light)!important;
}

ion-item.customer-actions{
  left: 0px;
  margin: 0px;
  padding: 0;
  --min-height:34px;
}

ion-item.customer{
  left: 0px;
  --background: #dbe6e5;
  --min-height: 90px;
  --padding-start: 8px;
  --padding-end: 8px;

  margin: 0px;
  padding: 0;
  
  span.rank{
    background: #000;
    padding: 11px 2px;
    margin: 0;
    margin-right: 2px;
    border-radius: 10%;
    color: white;
    font-weight: 600;
    width: 54px;
    height: 54px;
    font-size: 1.4rem;      
    &.rank-red{
      color: white;
      background-color: red;
    }
  
  }


  
  span.customer-new {
    background: red;
    color: white;
    padding: 0px 8px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;  
  }
  

  div.note {
    transform: translateY(10px) translateX(8px);      
    margin-left: 2px;
  }

  ion-label{
    padding-left: 5px;
  }
  ion-note{
    font-size: 16px;
    padding-top: 0px;
    line-height: 20px;
    font-weight: 600;      
    margin: 0;
    color: #000;
  }
  a{
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid var(--ion-color-kio-primary);
    width: 30px;
    height: 30px;      
  }

  h2{
    text-transform: capitalize;
  }
  .item-inner{
    margin-left:8px!important; 
    p{
      font-size: 0.7rem;        
    }
  }
}


ion-item{
  &.customer-contact{
    height: auto;
    min-height: auto;
    ion-select{
      max-width: 100%;
      width: 90%;
      padding-left: 0;        
    }
  }

  .verify {
    color: red!important;
  }

  &.checked {
    --background: #dbe6e5;
  }

  --padding-start: 8px;
  --padding-end: 8px;
  
  padding: 1px;
  display: flex;
  width: calc(100% + 16px);
  position: relative;
  display: flex;
  div.item{
    min-height: 50px;
    &.large{
      min-height: 70px;
    }
    display: flex;

    .rank{
      text-align: center;
    }
    .vendor{
      margin-left: 0;
      margin-top: 4px;
      color: #aaa;
      font-size: 13px;
    }

    .title{
      &.failure{
        text-decoration: line-through!important;
      }
      &.padding{
        left: 42px;
      }
      a:not(.failure){
        text-decoration: none!important;                
      }
      a.info{
        margin-left: 5px;
        transform: translateY(-4px);        
      }
      width: 90%!important;
      padding: 3px 0;
      font-weight: 300;
      letter-spacing: -.8px;
      font-size: 16px;
      position: absolute;
      top:6px;
      color: var(--ion-color-kio-primary);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 95vw;
      >div.variant {
        margin-left: 5px;
        font-size: 14px;
        color: red;
      }
    }
    .quantity{
      &.failure{
        text-decoration: line-through!important;
      }
  
      &.padding{
        left: 42px;
      }
      font-size: 0.9rem;
      position: absolute;
      top:34px;
      color: #333;      
      width: 240px;
      text-align: left;
      .issue{
        position: relative;
        color: red;
      }
    }
    .price{
      &.fulfilled{
        color:var(--ion-color-kio-info)!important;
      }
  
      &.failure{
        color: red;
      }
      -webkit-appearance: none;
      position: absolute;
      padding-top: 24px;
      top:10px;
      right: 80px;
      width: 90px;
      .input-price{
        -webkit-appearance: none;
        border:0px;
        border: 1px solid #eee;
        border-radius: 1px;
        max-width: 65px;
        padding: 4px 0;
        float: right;
        font-weight:500;
        margin-top: -7px;
        padding-right: 15px;
        text-align: right;        
        margin-right: 5px;
        font-weight: 600;
        height: 35px;
      }
      span.suffix{
        color:#ccc;
        margin-left:-10px;
        float: right;
        transform:translate(-69%, 1px);
      }
      
    }
  
  }


  .actions{
    position: absolute;
    right: 0px;
    top: 12px;      
  }

  .header-actions{
    position: absolute;
    right: 3px;
    top: 1px;      
  }

  .header-title{
    margin-left: 14px;
    font-size: 16px;
    letter-spacing: -.8px;
    position: absolute;
    top: 12px;      
  }

  button.item-button{
    border-color: #0d716c;
    color: #0d716c;
    border-width: 1px;
    border-radius: 2px;
    padding-left: 2px;
    margin-left:0;
    width: 29px;      
    height: 35px!important;
    box-shadow: initial;    
    margin-right: 9px;
    background: white;
    border: 1px solid #0d716c;      
    ion-icon {
      font-size: 22px;
    }
    &.validate,
    &.avoid {
      height: 52px!important;
    }
  }
  button.phone{
    transform: translateX(-90px);
    color: #006a63;
    opacity: .6;
  }

  button.button-refund {
    border-color: #e93a3a;
    color: #e93a3a;
    width: 80px;
    font-size: small!important;
  }

  button.button-cancel {
      border-color: #e93a3a;
      color: white;
      background-color: #e93a3a;
  }

  button.button-validate {
      border-color: #0d716c;
      color: white;
      background-color: #0d716c;
  }

  .button-check {
    padding: 4px 0;
    transform: translateY(4px) translateX(-10px);
    @media (min-width:767px) {
      transform: translateY(4px) translateX(-55px);
      
    }
  }

}