/** must be set on variable.scss */
.uploadcare--widget,
.uploadcare--widget__button{
  width: 100%;
  padding: 10px;
}


img {
  width: 100%;
  min-height: 200px;
  max-width: 512px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  max-height: calc( 100vh - 100px );
}