.uploadcare--widget,
.uploadcare--widget__button{
  width: 100%;
  padding: 10px;
}

.uploadcare--page{
  overflow: visible;
}


img {
  width: 100%;
  min-height: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;

  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('/assets/img/placeholder.png');  
}