<ion-content padding>  
  <div class="sitename">{{siteName}} <b>{{VERSION}}</b></div>
  <div class="landing-k" ></div>
  <form (ngSubmit)="login()" #loginForm="ngForm">

    <ion-item>
      <ion-input class="input-login" [(ngModel)]="model.email" type="email" placeholder="Email" name="email" required></ion-input>
    </ion-item>

    <ion-item [hidden]="!isValidEmail()">
      <ion-input class="input-login" [(ngModel)]="model.password" type="password" placeholder="Mot de passe" name="password" required></ion-input>
    </ion-item>
    <button class="btn" ion-button clear 
            [disabled]=" !isReady" 
            [hidden]="!isValidEmail()"
            type="submit" block>Soumettre</button>
    <div class="keep" >
        <ion-label>Se souvenir &nbsp;</ion-label>
        <ion-checkbox [(ngModel)]="keep" name="keep"></ion-checkbox>
    </div>
    <div class="reset" [hidden]="!isValidEmail()">
      <a href="javascript:;" (click)="resetPassword()">J'ai oublié mon mot de passe</a>
    </div>
      
  </form>
  
</ion-content>