page-tracker {
  button.fab{
    position: fixed;
    bottom: 30px;
    right: 40px;    
    z-index: 1;
  }

  #map {
    position: absolute;
    top: 0px;
    bottom: 0;
    width: 100%;
  }

  #closestOrders{
      position: absolute;
      top: 50%;
  }

}
