@media print {
  ion-header{ 
    display: none !important; 
  }  

  body, 
  .app-root, 
  .split-pane, 
  .ion-page, 
  ion-app, 
  ion-router-outlet { 
    contain: none; 
    height: auto!important;
    overflow-y: visible!important;
    position: inherit;
  }
  body, 
  ion-nav{ 
    overflow: initial; 
  }
  body{ 
    position: static; 
  }

  [ion-content-print]{ 
    overflow-y: visible !important; 
    position: relative; 
  }    
}

@media print {
  .hidden-print{
    display: none!important;
  }
  .report{
    border: none!important;
    padding:5px!important; 
    font-size: xx-small!important;
  }

  // ion-content{
  //   overflow-y: scroll!important;
  //   .scroll-content{
  //     position: relative;
  //     height: auto;
  //     width: 100%!important;
  //     float: left;
  //     overflow-x: visible!important;
  //     overflow-y: visible!important;
  //     width: 100%!important;    
  //   }
      
  // }
}
