kio2-admin-settings {
  .item.selected{
    background-color: color($colors, light);
  }

  ion-row {
    height: 100%;
    flex-wrap: wrap;
    ion-col {
      flex: 0 0 33%!important;
      max-width: 33%!important;
      text-align: center!important;
      padding: 10px 5px!important;
      >div{
        padding: 3px;          
        font-size: 90%;
      }
      ion-icon {
        font-size: 50px!important;
      }
    
    }        
  }

}
