.network-alert {
  left: calc( 100% / 2 - 150px );
  color: white;
  position: fixed;
  bottom: 20px;
  width: 300px;
  height: 60px;
  margin: 15px;
  z-index: 1000000;
  background: var(--ion-color-danger);
  color: var(--ion-color-danger-contrast);
  padding: 20px;
  border-radius: 5px;  
  font-weight: 600;
}