<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button  (click)="onBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- MAP BUTTON -->
  <ion-fab class="fab" [hidden]="orders.length > 1">
    <ion-fab-button (click)="openDirection()">
      <ion-icon name="pin" id="pin-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>  
  <div id="map"></div>
</ion-content>
