.error{
  padding: 50px;
  font-size: 30px;
  color: #aaa;    
}
.boost{
  padding: 10px 20px;
  padding-top: 20px;
  font-size: 20px;
  color: #aaa;    
  text-align:center;
}

.inactive{
  opacity: .4;
}

.tag{
  margin-right: 30px;
  position: absolute;
  right: 20px;
  bottom: 20%;
}

button.fab{
  display: none;
}
div.metabar{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(5, 105, 98, 0.8) !important;
  ion-searchbar{
    max-width: 55vw;
    background-color: rgba(5, 105, 98, 0.1) !important;
  }
}

button.action{
  background: transparent;
  align-self: center;
  color: #069a27;    
}
