.error{
  padding: 50px;
  font-size: 30px;
  color: #aaa;    
}
.boost{
  padding: 10px 20px;
  padding-top: 20px;
  font-size: 20px;
  color: #aaa;    
  text-align:center;
}

.bold {
  font-weight: bold;
}
.inactive{
  opacity: .9;
  --border-color:red;
}

.tag{
  margin-right: 30px;
  position: absolute;
  right: 20px;
  bottom: 20%;
}


button.action{
  background: transparent;
  align-self: center;
  color: #069a27;    
}


.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 46%;
  z-index: 1;
  background: rgba(12, 12, 12, 0.24);
  color: white;
}

ion-chip{
  font-size: 12px;
}

@keyframes rotating {
  from{
      -webkit-transform: rotate(0deg);
  }
  to{
      -webkit-transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}