logistic-header {
  
  .toolbar-title {
    text-transform: capitalize;
  }

  button.fab{
    position: fixed;
    bottom: 30px;
    right: 60px;    
  }
  .supergreen{
    color: #00ffbc!important;
  }
  .network{
    font-size: 80%;
  }


  ion-toolbar,ion-navbar {

      ion-slides button {
         font-size: 0.7rem !important;
         &.selected{
            background-color: var(--ion-color-kio-light);
            color: var(--ion-color-kio-primary);
         }
      }
   }

  ion-datetime {
      display: none;
  }

}
