<ion-navbar color="primary" class="hidden-print">
  <!-- left  -->
  <ion-buttons start>
  <!-- DISPLAY VENDOR -->
  <button color="light" 
          [hidden]="!vendor"
          [disabled]="!isReady" 
          icon-only
          ion-button (click)="openVendor()" clear="true" >
          <ion-icon name="home"></ion-icon>
  </button>      
    
  <!-- DISPLAY STOCK -->
  <button color="light" 
          [hidden]="!stock"
          [disabled]="!isReady" 
          icon-only
          ion-button (click)="openStock()" clear="true" >
          <ion-icon name="cube"></ion-icon>
  </button>      

  <!-- DISPLAY ORDERS -->
  <button color="light" 
          [hidden]="hideOrders"
          [disabled]="!isReady" 
          icon-only
          ion-button (click)="openOrders()" clear="true" >
          <ion-icon name="contacts"></ion-icon>
  </button>      
  
  <!-- DISPLAY LOGISTIC -->
  <button color="light" 
          [hidden]="hideCollect"
          [disabled]="!isReady" 
          icon-only
          ion-button (click)="openCollect()" clear="true" >
          <ion-icon name="list"></ion-icon>
  </button>      

  <!-- <button color="light" 
          [hidden]="hideCollect"
          [disabled]="!isReady" 
          icon-only
          ion-button (click)="openOrdered()" clear="true" >
          <ion-icon name="cube"></ion-icon>
  </button>       -->

  </ion-buttons>

  <!-- title  -->
  <ion-title (click)="picker.open()">
    {{title}} {{ currentShippingDate | date:format }} 
    <span class="network" [hidden]="isNetworkReady">  <ion-icon name="alert"></ion-icon> pas de réseau!</span>
  </ion-title>

  <!-- right -->
  <ion-buttons end>
    <button ion-button icon-only 
            [class.supergreen]="user.isAdmin()"
            (click)="openSettings($event)">
      <ion-icon name="more"></ion-icon>
    </button>
  </ion-buttons>

</ion-navbar>

<!-- MAP BUTTON -->
<button ion-fab  class="fab hidden-print"
        [disabled]="monthOrders.get(getCurrentTime()) === undefined"
        (click)="openMap()">          
    <ion-icon [name]="fabIcon||'pin'" id="pin-icon"></ion-icon>
</button>

<!-- DATE PICKER BUTTON -->
<ion-datetime #picker displayFormat="MM/YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="pickerShippingDate" 
  (ngModelChange)="updateDateFromPicker()" 
  cancelText="Annuler" 
  doneText="Fait" 
  dayValues="1"
  monthNames="janvier, fevrier, mars, avril, mai, juin, juillet, aout, septembre, octobre, novembre, decembre"
  max="2024">
</ion-datetime>        

