<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Factures ouvertes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"  text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
      <ion-label for="invoice-toggle" [hidden]="!displayOnlyPaid">paid</ion-label>
      <ion-label for="invoice-toggle" [hidden]="displayOnlyPaid">pending</ion-label>
      <ion-toggle id="invoice-toggle" slot="end" mode="md" (ionChange)="doToggleInvoicesStatus()"></ion-toggle>      
  </ion-toolbar>       

</ion-header>

<ion-content>

  <ion-refresher slot="fixed" [disabled]="false" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="loader" [hidden]="isReady">
    <ion-icon class="rotating" name="reload-outline" size="large"></ion-icon>
  </div>

  <ion-list>  

    <!-- DISPLAY ORDERS -->
    <ion-item-sliding *ngFor="let order of ordersAll">
      <ion-item-options>
        <ion-item-option side="start" [hidden]="order.payment.status!='invoice'">
          <ion-button mode="ios" expandable (click)="orderInvoicePaid(order)">
            VALIDER
          </ion-button>
        </ion-item-option>

        <ion-item-option side="start" [hidden]="order.payment.status!='invoice_paid'">
          <ion-button mode="ios" expandable (click)="orderInvoiceCapture(order)">
            VALIDER
          </ion-button>
        </ion-item-option>

        <ion-item-option class="phone" side="end">
          <ion-label >
            <ion-button mode="ios" color="primary" (click)="doDisplayMail(order)">
              <ion-icon name="mail"></ion-icon>             
            </ion-button> 
          </ion-label>

          <ion-label >
            <ion-button mode="ios" color="danger" [hidden]="!getPhoneNumber(order)" 
            (click)="doDisplayPhone(order)">
              <ion-icon name="call"></ion-icon>             
            </ion-button> 
          </ion-label>
        </ion-item-option>
      </ion-item-options>
      <ion-item  [class.pending]="order.payment.status=='invoice'">
        <ion-note slot="end">
          <span class="price" ><b>{{getTotal(order)|number:'1.0-2'}} fr</b></span>
        </ion-note>        
        <ion-avatar slot="start">
          <!--<off-ion-icon name="radio-button-on" style="zoom:2.0;" color="primary"></off-ion-icon> -->
          <span class="rank" [class.orphan]="!order.shipping.priority">
            {{order.customer.displayName.slice(0,2)}}
          </span>
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          <h3 text-capitalize><b>{{order.oid}}</b> - {{ order.shipping.name }} <span [hidden]="!isDeposit(order)"> // {{order.customer.displayName}}</span></h3>
          <h2>{{ order.shipping.streetAdress }},  <b>é:{{order.shipping.floor}}</b> </h2>
          <p class="note">{{ order.shipping.note }}</p>
        </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-item-sliding>

  </ion-list>

</ion-content>
