kio2-products {
  button.fab{
    display: none;
  }
  div.metabar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(5, 105, 98, 0.8) !important;
    ion-searchbar{
      max-width: 80vw;
      background-color: rgba(5, 105, 98, 0.1) !important;
    }
  }

  button.action{
    background: transparent;
    align-self: center;
    color: #069a27;    
  }
}
