
<ion-header no-border>
  <logistic-header
    [vendor]="false"
    [stock]="false"
    [collect]="true"
    (doInitOrders)="onInitOrders($event)"
    (doSelectedOrders)="onSelectedOrders($event)">
    </logistic-header>
</ion-header>


<ion-content >
  <div class="metabar" [hidden]="loadError">
    <button ion-button icon-only (click)="doCreateProduct()">
      <ion-icon name="add"></ion-icon>
    </button>    
    <ion-searchbar
      [(ngModel)]="cache.search"
      [debounce]="500"
      (ionInput)="onSearchInput($event)"
      (ionClear)="onSearchCancel($event)">
    </ion-searchbar>  
    <ion-toggle [(ngModel)]="cache.active" (ionChange)="sliceProducts()"></ion-toggle>      
    <ion-toggle [(ngModel)]="cache.boost" (ionChange)="sliceProducts()" color="danger"></ion-toggle>      
    <!-- <ion-item>
      <ion-label></ion-label>
      <ion-select [(ngModel)]="cache.filter" multiple="false" [color]="primary">
        <ion-option>VISIBLE</ion-option>
        <ion-option>CACHE</ion-option>
        <ion-option>PROMO</ion-option>
        <ion-option>BOOST</ion-option>
      </ion-select>
    </ion-item>     -->
  </div>

  <div *ngIf="loadError" class="error">
    <b>Ouups!</b> <br/>
    Il y a eu une erreur, veuillez recharger l'application
  </div>
  <div *ngIf="cache.boost" class="boost">
      <ion-icon name="alert" ></ion-icon> Les {{products?.length}} produits en promotions !      
  </div>
  
      
  <ion-list>    
    <ion-item-sliding *ngFor="let product of filteredProducts()">    
        <ion-item (click)="openDetails(product)" >
          <ion-avatar item-start>
            <img [src]="getAvatar(product)">
          </ion-avatar>      
          <h2>{{product.title}}</h2>      
          <h3>{{product.pricing.price|currency:'CHF'}} <b>/</b> {{product.pricing.part}} &nbsp;<span class="gray">// {{product.details.origin}}</span></h3>
          <p>
            {{getStateLabel(product)}} <span>// {{product.belong.name}}</span>
            <span [hidden]="!product.attributes.boost" class="tag">  <ion-icon name="arrow-round-up" color="info"></ion-icon> #boost</span>
            <span [hidden]="!product.attributes.home" class="tag">  <ion-icon name="arrow-round-up" color="info"></ion-icon> #select</span>
            <span [hidden]="!product.attributes.discount" class="tag"> <ion-icon name="color-wand" color="danger"></ion-icon> #promo</span>
          </p>
          <span item-end [class.red]="product.pricing.stock<6">
              {{product.pricing.stock}}
          </span>          
        </ion-item>
        <ion-item-options side="right">
          <a ion-button [color]="product.attributes.available?'danger':'secondary'" (click)="toggleActive(product)">
            <ion-icon name="basket"></ion-icon>
            <span [hidden]="!product.attributes.available">Désactiver</span>
            <span [hidden]="product.attributes.available">Activer</span>
          </a>        
          <!-- <ion-select [(ngModel)]="product.pricing.stock" 
          (ngModelChange)="updateStock(product,$event)"
          interface="action-sheet">
            <ion-option value="0">O en stock</ion-option>
            <ion-option value="10">10 en stock</ion-option>
            <ion-option value="50">50 en stock</ion-option>
          </ion-select>         -->

        </ion-item-options>
      </ion-item-sliding>    
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)"  [position]="'bottom'">
      <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Chargement des produits ...">
    </ion-infinite-scroll-content>    
  </ion-infinite-scroll>  

</ion-content>
