kio2-products {
  button.fab{
    display: none;
  }
  ion-searchbar{
    background-color: #056962!important;
  }

  button.action{
    background: transparent;
    align-self: center;
    color: #069a27;    
  }
}
