<ion-header>
  <ion-toolbar color="primary" class="hidden-print">
    <ion-title (click)="picker.open()" class="text-capitalize">{{ (pickerShippingDate| date:format) }}  </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"  text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="picker.open()">
        <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
      </ion-button>      
    </ion-buttons>
  </ion-toolbar>
  <ion-datetime #picker 
    displayFormat="MM/YYYY" 
    pickerFormat="MMMM YYYY" 
    [(ngModel)]="pickerShippingDate" 
    (ngModelChange)="onDatePicker()" 
    cancelText="Annuler" 
    doneText="Fait" 
    dayValues="1"
    monthNames="janvier, fevrier, mars, avril, mai, juin, juillet, aout, septembre, octobre, novembre, decembre"
    max="2024"
    style="display: none;">
  </ion-datetime>        

</ion-header>

<ion-content class="content">
  <table class="mdl-data-table wrapper"  *ngFor="let label of reportLabels">
    <thead>
      <tr>
        <th class="small hidden-sm">Année</th>
        <th class="small">Mois</th>
        <th class="first-col">Vendeur</th>  
        <th class="small numbers">létal</th>
        <th class="small numbers">problèmes</th>
        <th class="small numbers">couts</th>
        <th class="small numbers">ventes</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let report of groups[label].sort(sortByRatio)" >
        <td class="hidden-sm">{{report._id.year}}</td> 
        <td>{{report._id.month}}</td>
        <td class="limit">{{report._id.vendor}}</td>
        <td>{{report['ratio_danger'] | percent}}</td>
        <td>{{report['ratio'] | percent}}</td>
        <td>{{report.amount|currency:'CHF'}}</td>
        <td>{{report.orders.total}}</td>
      </tr>
    </tbody>
    <!-- <tbody *ngFor="let issue of report.issues" class="report-separator">
      <tr>
        <td>{{issue.title}}</td><td></td>
      </tr>
    </tbody> -->
  </table>


</ion-content>
