:host {
  .popover-wrapper{
    .popover-content{
      width:300px;
      min-height: 200px;
      max-width:400px;
    }
  }  

  ion-popover {
    --with: 300px!important;
    --min-height: 200px!important;
  }
  
}


.calendar{
  display: flex;
  width: 100%;
  padding: 5px;
  flex-wrap: wrap;
  justify-content: flex-start;
  div.day {
    .month{
      font-size: 0.9rem;
    }
    .dd {
      font-size: 1.2rem;
      font-weight: 700;      
    }
    .wd{
      font-size: 0.6rem;
    }
    flex: 0 1 auto;
    background: #eee;
    border-radius: 5px;
    margin: 3px;
    font-size: .7rem;
    text-align: center;
    padding: 8px;
    width: 64px;
    height: 64px;    
    &.selected{
      background-color: var(--ion-color-primary);
      color: white;
      font-weight: 600;
    }
  }  
}