
<ion-content>
  <ion-toolbar hidden>
    <ion-chip slot="start" (click)="onBackMonth()" fill="outline" color="primary" >
      <ion-icon name="arrow-back-outline"></ion-icon>
      <ion-label class="text-capitalize">{{backMonth()}}</ion-label>
    </ion-chip>
    <!-- <span class="text-capitalize">&nbsp; {{month()}}</span> -->
    <ion-chip slot="end" (click)="onForwardMonth()" fill="outline" color="primary">
      <ion-icon name="arrow-forward-outline"></ion-icon>
      <ion-label class="text-capitalize">{{forwardMonth()}}</ion-label>
    </ion-chip>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="all" (ionChange)="onStatusChanged($event)" [value]="segmentValue" color="primary">
      <ion-segment-button value="current">Préparations</ion-segment-button>
      <ion-segment-button value="archive">Archivées</ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div class="calendar">
    <div *ngFor="let shipping of availableDates;let i = index" 
      class="day"
      [class.selected]="shipping.getTime()===currentShipping.getTime()"  
      (click)="onSelectDay(shipping)">    
      <div class="wd">{{ shipping | date:'EEEE' }}</div>
      <div class="dd">{{ shipping | date:'d' }}</div>
      <div class="month">{{ shipping | date:'MMMM' }}</div>
    </div>    
  </div>
  

</ion-content>
