<ion-header [translucent]="true">
  <ion-toolbar color="primary">

    <ion-title>
      Karibou.ch
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" [disabled]="false" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="sitename">
    <img class="logo-small" src="/assets/img/k-puce-light.png" />
    <b>v{{VERSION}}</b>
  </div>


  <div id="container">
    <div color="primary" class="info">
      <b>Psst:</b> Bienvenue sur la nouvelle version Admin. <br/>
      En cas de soucis contactez moi <a href="tel:0763797868">076 379 78 68</a>
    </div>
  
    <strong>Que souhaitez-vous faire</strong>
    <p>Opérationel</p>

    <ion-row class="center">
      <ion-col [hidden]="!isAdminOrLogistic" (click)="openShopper()">
        <ion-icon name="bicycle-outline" color="grey-icon"></ion-icon>
        <div>Logistique</div>
      </ion-col>

      <ion-col [hidden]="!isAdminOrLogistic" (click)="openCollect()">
        <ion-icon name="contract-outline" color="grey-icon"></ion-icon>
        <div>Collecte</div>
      </ion-col>

      <ion-col [hidden]="!isAdminOrVendor" (click)="openOrdersPlanning()">
        <ion-icon name="calendar-outline" color="grey-icon"></ion-icon>
        <div>Planning</div>
      </ion-col>

      <ion-col [hidden]="!isAdminOrVendor" (click)="openOrders()">
        <ion-icon name="cart-outline" color="grey-icon"></ion-icon>
        <div>Commandes</div>
      </ion-col>

      <ion-col [hidden]="!isAdminOrVendor" (click)="openSubscriptions()">
        <ion-icon name="alarm-outline" color="grey-icon"></ion-icon>
        <div>Abonnements</div>
      </ion-col>

      <ion-col [hidden]="!isAdminOrVendor" (click)="openProducts()">
        <ion-icon name="cube-outline" color="grey-icon"></ion-icon>
        <div>Produits</div>
      </ion-col>


    </ion-row>

    <div class="middle">
      <p>Administration</p>
    </div>
    
    <ion-row class="center">
      <ion-col [hidden]="!isAdminOrVendor" (click)="openReport()">
        <ion-icon name="reader-outline" color="grey-icon"></ion-icon>
        <div>Rapport</div>
      </ion-col>

      <ion-col (click)="openIssue()">
        <ion-icon name="reader-outline" color="grey-icon"></ion-icon>
        <div>Qualité</div>
      </ion-col>

      <ion-col [hidden]="!isAdmin" (click)="openAnalytics()">
        <ion-icon name="analytics-outline" color="grey-icon"></ion-icon>
        <div>Analytic</div>
      </ion-col>

      <ion-col [hidden]="!isAdmin" (click)="openCRM()">
        <ion-icon name="analytics-outline" color="grey-icon"></ion-icon>
        <div>uCRM</div>
      </ion-col>

      <ion-col [hidden]="!isAdmin" (click)="openInvoices()">
        <ion-icon name="home-outline" color="grey-icon"></ion-icon>
        <div>Factures</div>
      </ion-col>
      
      <ion-col [hidden]="!isAdmin" (click)="openVendors()">
        <ion-icon name="home-outline" color="grey-icon"></ion-icon>
        <div>Boutiques</div>
      </ion-col>

      <ion-col [hidden]="!isAdminOrVendor" (click)="openCustomers()">
        <ion-icon  name="people-circle-outline" color="grey-icon"></ion-icon>
        <div>Clients</div>
      </ion-col>

      <ion-col (click)="openProfile()">
        <ion-icon name="settings-outline" color="grey-icon"></ion-icon>
        <div>Profil</div>
      </ion-col>
    </ion-row>


    <hr>
    <div [hidden]="!user.shops.length">
      <p>Votre boutique</p>
    </div>
    <ion-button [hidden]="user.shops.length>0"  
      class="create" 
      size="small" 
      color="primary" 
      (click)="openShopCreate()">
      Créer votre boutique
    </ion-button>

    <ion-list >
      <ion-item *ngFor="let shop of user.shops" [routerLink]="['/vendor/',shop.urlpath]">
        <ion-label>
          <h2>{{shop.name}}</h2>
          <p [hidden]="isShopOpen(shop )" class="red small">
            Fermeture le {{shop.available.from |date:'mediumDate':'GMT+1':'fr'}}, ouverture le {{shop.available.to |date:'mediumDate':'GMT+1':'fr'}}          
          </p>
        </ion-label>
        <ion-note color="primary" slot="end" [color]="isShopOpen(shop) ? 'primary':'danger'">
          <ion-icon name="cloud-done" size="large"></ion-icon>
        </ion-note>
      </ion-item>
    </ion-list>  
  </div>



</ion-content>
