logistic-header {
  button.fab{
    position: fixed;
    bottom: 30px;
    right: 60px;    
  }
  .supergreen{
    color: #00ffbc!important;
  }
  .network{
    font-size: 80%;
  }


  ion-toolbar,ion-navbar {

      ion-slides button {
         font-size: 1.2rem !important;
         &.selected{
            background-color: color($colors, light);
            color: color($colors, primary);
         }
      }
   }

  ion-datetime {
      display: none;
  }

}
