logistic-header {
  button.fab{
    position: fixed;
    bottom: 30px;
    right: 20px;    
  }
  ion-toolbar{
    padding-top:0!important;
    padding-bottom:0!important;

    div.swiper-pagination{
      top: -20px;
      bottom: unset;      
    }
  }

  ion-toolbar,ion-navbar {

      ion-slides button {
         font-size: 1.2rem !important;
         &.selected{
            background-color: color($colors, light);
            color: color($colors, primary);
         }
      }
   }

  ion-slides {
      height: auto;
   }

   ion-slide {
      align-items: flex-start !important;
   }

  ion-slide button{
    margin-top:6px!important;
    width: 8.5rem;
  }

  ion-datetime {
      display: none;
  }

}
