<ion-navbar color="primary">
  <!-- left  -->
  <ion-buttons start>
  <button color="light" hidden
          [disabled]="!isReady" 
          icon-only
          ion-button (click)="picker.open()" clear="true" >
          <ion-icon name="calendar"></ion-icon>
  </button>      
  <button color="light" 
          [disabled]="!isReady" 
          icon-only
          ion-button (click)="openCollect()" clear="true" >
          <ion-icon name="paper-plane"></ion-icon>
  </button>      
  </ion-buttons>

  <!-- title  -->
  <ion-title (click)="picker.open()">{{ currentShippingDate | date:"d MMM y" }}</ion-title>

  <!-- right -->
  <ion-buttons end>
    <button ion-button icon-only (click)="openSettings($event)">
      <ion-icon name="more"></ion-icon>
    </button>
  </ion-buttons>

</ion-navbar>


<!-- MAP BUTTON -->
<button ion-fab  class="fab"
        [disabled]="monthOrders.get(currentShippingDate?.getTime()) === undefined"
        (click)="openMap()">          
    <ion-icon name="pin" id="pin-icon"></ion-icon>
</button>

<!-- DATE PICKER BUTTON -->
<ion-datetime #picker displayFormat="MM/YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="pickerShippingDate" 
  (ngModelChange)="updateDateFromPicker()" cancelText="Annuler" doneText="Fait" 
  monthNames="janvier, fevrier, mars, avril, mai, juin, juillet, aout, septembre, octobre, novembre, decembre">
</ion-datetime>        

